<div class="mt-4 mx-4 px-2 rounded border border-dark border-4">
    <div>POST 1</div>
    <div>Post-content</div>
</div>

<div>
    <form class="comment-form mt-4 mx-4 px-2 rounded border border-dark border-4">

        <h5>Comment</h5>

        <div class="card-body">
            
            <div>
                <input type="text" class="form-control" id="comment-text" placeholder="Enter your password!">
            </div>

            <div>
                <button id="add-btn" class="btn btn-dark my-2">Submit</button>
            </div>

        </div>

    </form>

</div>

<script src="/js/comment_post.js"></script>