{{!-- Dashboard Page --}}

<h2 id='dash-header'>Your Dashboard!</h2>

{{#if posts.length}}
{{#each posts as |post|}}
<p>{{>post-header post}}</p>
{{/each}}
{{/if}}

<button id='new-btn'><a href='/dashboard/new'>+ New Post</a></button>