{{#if posts.length}}
{{#each posts as |post|}}
<section class="post-card">
    {{> post_info post}}
    <a href="/post/{{id}}">Continue to post →</a>
</section>
{{/each}}
{{/if}}

<a href='/dashboard/new'>
<button>+ NEW POST</button>
</a>

<a href='/dashboard/edit'>
<button>+ EDIT POST</button>
</a>