<section class="mt-4 mx-4 px-2 rounded border border-dark border-4">

    <h3>Edit Post</h3>

    <form class="form edit-post-form">

        <div class="mb-3">
            <label class="form-label">Title</label>
            <input class="form-control" value="{{post.title}}" id="post-title">
        </div>

        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea class="form-control" id="post-content" rows="3">{{post.content}}</textarea>
        </div>

        <div>
            <button class="btn btn-dark my-2" id="update-btn">Update</button>
            <button class="btn btn-dark my-2" id="delete-btn">Delete</button>
        </div>

    </form>

</section>

<script src="/js/edit_post.js"></script>
<script src="/js/delete_post.js"></script>