<section class="mt-4 mx-4 px-2 rounded border border-dark border-4">
    <div>WELCOME!</div>
    {{#if posts.length}}
    {{#each posts as |post|}}
    <section class="post-card">
        {{> post_info post}}
        <a href="/post/{{id}}">Continue to post →</a>
    </section>
    {{/each}}
    {{/if}}
</section>