<h2>Login</h2>

<form class="form login-form">
    <div class="form-group">
        <label for="user-login">Username</label>
        <input class="form-input" type="text" id="user-login" />
    </div>

    <div class="form-group">
        <label for="password-login">Password</label>
        <input class="form-input" id="password-login" />
    </div>

    <div class="form-group">
        <button id="log-in-btn">Log In!</button>
    </div>

    <div class="form-group">
        <a href='/signup'>Sign up instead!</a>
    </div>
</form>

<script src="/js/login.js"></script>