<section>
    <h3>Create New Post</h3>
    <form class="form new-post-form">
        <div>
            Title: <br><input type="text" id="post-title" placeholder="Enter Your Title"/><br>
        </div>
        <div>
            Content: <br><input type="text" placeholder="Enter Your Content" id="post-content"/><br>
        </div>
        <div>
            <button id="new-btn" type="submit">Create</button>
        </div>
    </form>
</section>

<script src="/js/new_post.js"></script>