<section class="mt-4 mx-4 px-2 rounded border border-dark border-4">

    <h3>Sign Up</h3>

    <form class="my-2 form signup-form">

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" id="user-signup" placeholder="Enter a username!">
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="text" class="form-control" id="password-signup" placeholder="Make up a password that is 8 or more characters long!">
        </div>

        <div class="my-2 form-group d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-dark" id="sign-up-btn">Sign Up!</button>
        </div>

        <div class="form-group">
            <a class="text-dark" href='/login'>Click here to login instead!</a>
        </div>

    </form>

</section>

<script src="./js/signup.js"></script>