{{!-- Individual Post Layout on User's Dashboard --}}

<div id='post-header'>
    <a class='post-title' id='post-title' href='dashboard/edit/{{id}}'>{{post_title}}</a>
    <a id='post-info'>{{format_date created_at}}</a>
</div>