{{!-- Single Post and Comment Page --}}

<p>{{>post-info post}}</p>

<p id='comment-header'>Comments</p>

<p>{{>comment-info post.comments}}</p>

<section id="form-container">

    <form>
        <div id='form-input'>
            <label for="comment-title">Comment</label>
            <textarea type="text" class='edit-post' id="comment-text" rows="3" cols="50" /></textarea>
        </div>
    </form>

    <div>
        <button id='comment-btn'>Submit</button>
    </div>

</section>

<script src="/js/newcomment.js"></script>