<div id='comment-card'>
    {{#each this}}
    <div>
        <a id='comment-content'>{{comment_text}}</a>
        <a id='comment-info'>- {{user.username}} {{format_date created_at}}</a>
    </div>
    {{/each}}
</div>