h2 {
    text-align: center;
    font-size: 30px;
}

#post-header {
    padding: 10px;
    background-color: rgb(66, 65, 65);
    color: rgb(240, 168, 240);
}

#post-title {
    color: rgb(240, 168, 240);
    font-size: 20px;
    font-weight: bold;
}

#post-info {
    float: right;
}

#new-btn {
    position: relative;
    padding: 10px;
    left: 43%;
    width: 190px;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(66, 65, 65);
}

#new-btn a {
    text-decoration: none;
    color: rgb(240, 168, 240);
    font-size: 25px;
}